:root{
    --primary: #0F172A;
    --secondary: #1E293B;
    --danger: #DC2626;
    --success: #16A34A;
    --warning: #F59E0B;
    --light: #F8FAFC;
}

body{
    background-color: var(--light);
    font-family: Inter, sans-serif;
}

.navbar-brand{
    font-weight: 700;
}

.sidebar{
    background-color: var(--primary);
    min-height: 100vh;
}

.sidebar a{
    color: white;
    text-decoration: none;
}

.sidebar a:hover{
    color: #DC2626;
}

.card{
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

/* HOMEPAGE STYLES */

.hero {
    min-height: 85vh;
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #0F172A, #1E293B);
    color: white;
}

.hero h1{
    font-size: 4rem;
    font-weight: 800;
}

.hero p{
    font-size: 1.2rem;
}

.section-title{
    font-size: 2.3rem;
    font-weight: 700;
}

.feature-card{
    transition: .3s;
}

.feature-card:hover{
    transform: translateY(-8px);
}

.stats-card{
    border-radius: 20px;
}

.sos-section{
    background: #DC2626;
    color: white;
}

.category-card{
    border-radius: 15px;
    transition: .3s;
}

.category-card:hover{
    transform: scale(1.04);
}