<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>CRIMS</title>

    {% load static %}

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/crims.css' %}?v=20260924" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}?v=20260930" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  </head>

  <body class="crims-body">
    <div class="wrapper">
      {% include 'components/sidebar.html' %}

      <div class="main-content">
        {% include 'components/navbar.html' %}

        <div class="content-area">{% block content %} {% endblock %}</div>

        {% include 'components/footer.html' %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/responsive.js' %}"></script>
  </body>
</html>
